#map {
  height: 500px;
  
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.head
{
  height:100px;
  text-align:center;
  font-size: 24px;
  margin-top:50px;
}
.get-input
{
  width:100%;

}
