<html ng-app="mapsApp">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVqnHorADkaBkG6muNsQibZqpcoL3NGQs&libraries=places&callback=initMap">
  </script> -->

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDVqnHorADkaBkG6muNsQibZqpcoL3NGQs&libraries=places&sensor=false"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <script src="js/controllers/script.js"></script>
  <script src="js/directives/maps.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
<body>
  <div ng-controller="MapCtrl">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="head">
              Google Maps for track location {{2+2}}
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-9">
            <div id="map"></div>

        </div>
        <div class="col-md-3">
          <div class='section'>
  	         <h3><center>Enter the Destination</center></h3>
             <label>Start location</label></br>
             <input class="get-input" type="text" id="start"></br>
             <label> Destination location</label></br>
             <input class="get-input" type="text" id="end">

           </div>
        </div>
      </div>
    </div>
  </div>

<!-- Replace the value of the key parameter with your own API key. -->
</body>
</html>
